*{
    font-family: 'Playfair Display', serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.img-box{
    width: 200px;
    height:150px;
    object-fit: contain;
    border-radius: 25px;
}
.img-box > img{
    width: 100%;
    height: 100%;
    border-radius: 25px;
}
.task-done{
    text-decoration: line-through;
}

header{
    height: 300px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(211, 211, 211,0.4); 
}

.list-container > ul{
    margin: 50px 0px !important;
}
li{
    list-style: none;
    background-color: white;
    color: black;
    margin-top: 15px;
    text-transform: uppercase;
    transition: 0.3s background-color ease-in-out ;
    border-radius: 25px;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 5px;
    text-transform: capitalize;
}
li:hover{
    background-color: rgba(211, 211, 211,0.4);
}

    
.list-container{
    min-height: 800px;
    width: 800px;
    margin: 50px auto;
    border: 1px solid darkgray;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 17px 21px 15px 16px rgba(0,0,0,0.1);
}
#app{
    height: 100vh;
}

.edit-button{
    font-size: 15px;
    text-transform: lowercase;
    cursor: pointer;
    border: 1px solid rgba(211, 211, 211,0.4);
    padding: 2px;
}

.edit-input{
    justify-self: end;
}


.check{
    font-size: 1.2rem;
}

.offcanvas-button{
    top: 0;
    right: 10%;
}

.off-img-box{
    width: 100%;
}

.off-img-box > img{
    width: 100%;
}

.offcanvas-body{
    width: 700px;
}

.offcanvas{
    width: 700px!important;
}

